/* ------------------------------------------------------------------------------*/
/* Для текстового объявления необходимо указывать все слити блоков  */
/* ------------------------------------------------------------------------------*/

/* Begin type = text */

/* css = -redBorder  */
/* Перееобпределение стиля block */
.block-redBorder { border: 1px solid red; }
.block-redBorder:last-child { margin-bottom: 10px; }
/* Перееобпределение стиля block-header */
.block-header-redBorder  h3  { background: red; font-size: 22px; color: white; text-align: center; }
/* Перееобпределение стиля block-content */
.block-content-redBorder  { padding: 10px; }

/* css = -blueBorder  */
/* Перееобпределение стиля block */
.block-blueBorder { border: 1px solid blue; }
.block-blueBorder:last-child { margin-bottom: 10px; }
/* Перееобпределение стиля block-header */
.block-header-blueBorder  h3  { background: blue; font-size: 22px; color: white; text-align: center; }
/* Перееобпределение стиля block-content */
.block-content-blueBorder  { padding: 10px; }

/* css = -greyBorderDashed  */
/* Перееобпределение стиля block */
.block-greyBorderDashed { border: 1px dashed #dcdcdc; }
.block-greyBorderDashed:last-child { margin-bottom: 10px; }
/* Перееобпределение стиля block-header */
.block-header-greyBorderDashed  h3  { background: #dcdcdc; font-size: 22px; color: white; text-align: center; }
/* Перееобпределение стиля block-content */
.block-content-greyBorderDashed  { padding: 10px; }

/* css = -adsStyle  */
/* Перееобпределение стиля block */
.block-adsStyle { border: 2px solid #FF6633; border-radius: 3px;}
.block-adsStyle:last-child { margin-bottom: 10px; }
/* Перееобпределение стиля block-header */
.block-header-adsStyle  h3  {font-size: 12px; color: white; background: #FF6633; padding: 5px;}
/* Перееобпределение стиля block-content */
.block-content-adsStyle  { padding: 10px; }

/* css = -emptyCenter  */
/* Перееобпределение стиля block */
.block-emptyCenter {  }
.block-emptyCenter:last-child { margin-bottom: 10px; }
/* Перееобпределение стиля block-header */
.block-header-emptyCenter  h3  { }
/* Перееобпределение стиля block-content */
.block-content-emptyCenter  { text-align: center; }

/* End type=text */